<section id="home" class="content home">
        <header>
            <h1 class="marca">
                <a href="#">
                    Mi Bicitaxi <span>app</span>
                </a>
            </h1>
            <button class="menu-button">Menu</button>
            <!--
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#características">Características</a></li>
                    <li><a href="#comofunciona">¿Cómo funciona?</a></li>
                    <li><a href="#">Administrativo</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
            -->
        </header>
        <article class="download">
          <section class="wit-70"> 
            <h3>Accede a miles de usuarios</h3>
            <p>Ofrece tus servicios como conductor de bicitaxi y aumenta tus ingresos.</p>
            <div class="wrapperbuttons">
              <button type="button" class="button main-action">Descarga ahora</button>
              <button type="button" class="button">Aprende más</button>
            </div>
          </section>
          <section class="wit-30"> 
            <img src="assets/hand-with-app.png" class="apphand" alt="Un mano con un smartphone y la aplicación Mi Bicitaxi App" />
          </section>
        </article>

    </section>


    <section id="características" class="content features">
        <h2>
            Características
        </h2>
        <article class="margin-top-4rem">
            <section class="feature">
                <i class="fas fa-pen"></i>
                <h3>
                    Registrate y consigue más clientes
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis aliquet nisi, eget viverra massa. </p>
            </section>
            <section  class="feature">
                <i class="fas fa-user"></i>
                <h3>
                    Pide tu servicio fácil y seguro
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis aliquet nisi, eget viverra massa. </p>
            </section>
            <section class="feature">
                <i class="fas fa-map-marker-alt"></i>
                <h3>
                    Consulta las rutas de servicio más cercanas
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis aliquet nisi, eget viverra massa. </p>
            </section>
        </article>
    </section>
    <section id="comofunciona" class="content how">
        <h2>
            ¿Cómo funciona?
        </h2>
        <article class="margin-top-4rem">
          <img src="" alt="" class="wit-50">
          <ol class="wit-50">
              <li><i>1</i> Registrate de manera agíl a travéz de nuestra aplicación</li>
              <li><i>2</i> Accede a la tus posibles usuarios</li>
              <li><i>3</i> Acepta el servicio</li>
              <li><i>4</i> Amplia tu rango de clientes potenciales</li>
              <li><i>5</i> Genera más ingresos</li>
          </ol>
        </article>
    </section>
    <section id="contacto" class="content contact">
        <h3>
            ¿Cómo podemos ayudarte?
        </h3>
        <article class="contact-ways">
            <ul>
                <li>Escribenos <a href="mailto:webmaster@example.com">contacto@mibicitaxi.com</a></li>
                <li>01 8000 79836</li>
            </ul>
            <ul>
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-youtube"></i></li>
            </ul>
        </article>
    </section>
    