<h1>Editing Bicitaxista Agremiacion</h1>

<%= render 'form', bicitaxista_agremiacion: @bicitaxista_agremiacion %>

<%= link_to 'Show', @bicitaxista_agremiacion %> |
<%= link_to 'Back', bicitaxista_agremiacions_path %>
